---
layout: page
title: FAQ
permalink: /faq/
---

<div class="row">
  <div class="four columns title">
    <h2>General</h2>
  </div>
  <div class="eight columns text doc-index">
	<h4>What is a "reproducible build"?</h4>
    <p>
      See the definition <a href="/docs/definition">here</a>.
    </p>
	<h4>Why should I care about reproducible builds?</h4>
    <p>
      Read the motivation <a href="/docs/buy-in">here</a>.
    </p>
	<h4>Has anyone achieved reproducible build?</h4>
    <p>
      Yes! Many projects have achieved reproducible builds, begining with <a href="https://gitian.org/">Bitcoin</a> (2011) and <a href="https://blog.torproject.org/blog/deterministic-builds-part-one-cyberwar-and-global-compromise">Tor</a> (2013). See other projects who are at various states of reproducibility <a href="/who">here</a>.
    </p>
	<h4>How can I help reproducible builds?</h4>
    <p>
      TODO: answer with (1) how someone could donate $$ to the effort and (2) a link to an "unsolve problems" question?
    </p>
  </div>
</div>

<div class="row" style="margin-top: 1rem;">
  <div class="four columns title">
    <h2>I am a developer</h2>
  </div>
  <div class="eight columns text doc-index">
    {% for section in site.data.faq.developer %}
    <h4><a href="{{ section.link | prepend: site.baseurl }}">{{ section.title }}</a></h4>
    {% endfor %}
  </div>
</div>

<div class="row" style="margin-top: 1rem;">
  <div class="four columns title">
    <h2>I am a user</h2>
  </div>
  <div class="eight columns text doc-index">
    {% for section in site.data.faq.user %}
    <h4><a href="{{ section.link | prepend: site.baseurl }}">{{ section.title }}</a></h4>
    {% endfor %}
  </div>
</div>
