<nav class="navbar navbar-expand-lg navbar-light sticky-top rp-navbar__top">
  <a class="navbar-brand" href="{{ '/' | prepend: site.baseurl }}">
    <img src="{{ site.logo | prepend: site.baseurl }}"  height="30" width="auto" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto display-xs">
      {% assign sorted_pages = site.pages | sort:"order" %}
      {% for page in sorted_pages %}
      {% if page.title and page.order >= 0 %}
        <li class="nav-item">
          <a class="nav-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
        </li>
      {% endif %}
      {% endfor %}
    </ul>
  </div>
</nav>
