<!DOCTYPE html>
<html lang="en" dir="ltr">
  {% include new/head.html %}
  <body>
    {% include new/navbar.html %}

    <div class="row" style="height: 100%">
      <div class="col-md-2 col-sm-3 d-none d-sm-block p-0">
        {% include new/navbar_side.html sidebarClassName="rb-sidebar__1" %}
      </div>
      <div class="col-md-10 col-xs-12 col-sm-9 p-0">
        <main role="main" class="content-scroll p-5" data-spy="scroll" data-target="#components-nav" data-offset="0">
          {{ content }}

          <div class="row">
            <div class="col-12 p-0">
              <p class="mt-5 mb-5">
                <span class="text-muted small">
                  <a href="https://twitter.com/ReproBuilds">@ReproBuilds</a>.

                  <a href="{{ "/who/" | prepend: site.baseurl }}">Projects</a> working on reproducible builds:
                  {% for project in site.data.projects %}
                    <a href="{{ "/who" | prepend: site.baseurl }}#{{ project.name }}">{{ project.name }}</a>{% unless forloop.last %},{% endunless %}{% endfor %}.

                  Content licensed under <a href="https://creativecommons.org/licenses/by-sa/4.0/" class="rb-link" target="_blank">CC BY-SA 4.0</a>,
                  style licensed under <a href="https://opensource.org/licenses/MIT" class="rb-link" title="MIT" target="_blank">MIT</a>.
                  Templates and styles based on the <a href="https://styleguide.torproject.org/" target="_blank">Tor Styleguide</a>.
                  Logos and trademarks belong to their respective owners.

                  Patches welcome <a href="https://salsa.debian.org/reproducible-builds/reproducible-website">via our Git repository</a>
                  (<a href="{{ "/contribute/salsa/" | prepend: site.baseurl }}">instructions</a>) or via <a href="https://lists.reproducible-builds.org/listinfo/rb-general">our mailing list</a>.
                </span>
              </p>
            </div>
          </div>
        </main>
      </div>
    </div>

    {% include new/scripts.html %}
  </body>
</html>
