---
layout: default
---

<p>&larr; <a href="/blog/">View all weekly reports</a></p>

<header class="post-header">
  <h1>Reproducible Builds: Weekly report #{{ page.week }}</h1>
  {% if page.published %}
    <p>Published: {{ page.published | date: "%b %-d, %Y" }}</p>
  {% else %}
    <hr><center><strong>
      This is an unpublished draft post.<br>
      <a href="https://salsa.debian.org/reproducible-builds/reproducible-website.git/tree/_blog/posts/{{ page.week }}.md">(source)</a>
    </strong></center><br>
  {% endif %}
</header>

<hr>

<div class="post">
  <div class="row">
    <div class="eight columns">
      <article class="post-content text">
        {{ content }}
      </article>
    </div>
  </div>
</div>
